.image_holders{
    background-color: #D6D6D6;
    padding: 50px 95px;
}
.image_rows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.linksmobile{
    background-color: white;
    /* display: none; */
    transform: translateX(-100%);
        transition: transform ease-out 1s;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 500;
}
.curpage{
    border-bottom: 1px solid black;
}
.viewed_image{
    width: 43%;
    height: 400px;
}
.explore_button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 30px;
}

.explorebutton_div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 850px){
    .viewed_image{
        height: 300px;
    }
    .image_holders{
        padding: 30px;
    }
}

@media (max-width: 650px){
    .image_rows{
        flex-direction: column;
        margin-top: 0;
    }
    .viewed_image{
        width: 100%;
        margin-top: 20px;
    }
    .image_holders{
        padding: 30px 20px;
    }
}
.hamburger.active{
    display: none;
}
.hamburger{
    display: block;
}
.close.active{
    display: block;
}
.close{
    display: none;
}

@media (max-width: 640px){
    .hamburger.active{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .close.active{
        display: block !important;
    }
    .close{
        display: none !important;
    }
    .linksmobile{
        background-color: white;
        /* display: none; */
        transform: translateX(-100%);
        transition: transform ease-out 1s;
        text-align: center;
        position: fixed;
        height: 100vh;
        width: 100%;
    }
    .listLinking{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact_topicdetail{
        padding: 50px 20px;
    }
    .linksmobile.active{
        display: block;
        transform: translateX(0%);
        transition: transform ease-out 1s;
    }
    .homelist{
        margin-left: 0 !important;
    }
    .curhomelist{
        margin-left: 0 !important;
        border-bottom: 1px solid black;
        width: 90px;
    }
    .listShown{
        color: black;
        display: block;
    }
    .contact_infos{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .phonedetails{
        margin-top: 10px;
    }
    .name_address{
        flex-direction: column;
    }
    .emailaddr{
        margin-left: 0;
        margin-top: 10px;
    }
    .contact_form{
        width: 90%;
    }
    .contact_formdetail{
        padding: 0 20px;
    }
}